.canvas {
    width: 75%;
    margin: 0px auto;
    text-align: center;
    font-style: italic;
}

#canvas {
    border: 1px solid blue;
    width: auto;
    height: 75vmin;
    background: #eee; 
    display: block;
}